.cm-imex_string{
    color: darkorange;
}

.cm-imex_number{
    color: lightgreen;
}

.cm-imex_card_main{
    color: dodgerblue;
}

.cm-imex_card_sub{
    color: deeppink;
}

.cm-imex_card_water{
    color: deepskyblue;
}

.cm-imex_card_oil{
    color: brown;
}

.cm-imex_card_gas{
    color: lightgreen;
}

.cm-imex_card_i{
    color: red;
}

.cm-imex_card_j{
    color: green;
}

.cm-imex_card_k{
    color: blue;
}


.cm-imex_card_run{
    color: red;
    background: #00FF00;
}

.cm-imex_card_stop{
    color: yellow;
    background: #FF0000;
}

.cm-imex_comment{
    color: darkgray;
}

.cm-imex_magic{
    
}

.cm-imex_BR{
    font-weight: bold;
    font-style: italic;
    background: #019241;
    color: white;
    padding: 0px 0px 3px 0px; 
    border-top-width: 6px;
    border-top-color: #F8C400;
    border-top-style: solid;
    font-family: sans-serif;
    text-decoration: overline;
}

.cm-imex_BR:before{
    content: " ";
}

.cm-imex_BR:after{
    content: " ";
}
