.cm-imex_string{
    color: darkorange;
}

.cm-imex_number{
    color: limegreen;
}

.cm-imex_card{
    color: dodgerblue;
}

.cm-imex_comment{
    color: darkgray;
}

.cm-imex_magic{
    
}

.cm-imex_BR{
    font-weight: bold;
    font-style: italic;
    background: #019241;
    color: white;
    padding: 0px 0px 3px 0px; 
    border-top-width: 6px;
    border-top-color: #F8C400;
    border-top-style: solid;
    font-family: sans-serif;
    text-decoration: overline;
}

.cm-imex_BR:before{
    content: "**  ";
}

